<footer>
    <p>
        <span style="text-align:left;float:left">&copy; <a href="http://www.ovgsistemas.com" target="_blank">ovgsistemas.com</a> 2013</span>
        <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="http://www.ovgsistemas.com">OVG Sistemas</a></span>
    </p>
</footer>
